@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrap {
    width: 100%;
    height: auto;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    z-index: 9999999999;
}

.logo {
    height: 100%;
}

.logo a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: #222;
}

.gnb {
    width: 500px;
    height: 100%;
}

.gnb ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 20px 0;
}

.gnb ul li {
    width: 32%;
    height: 100%;
    margin-left: 5px;
}

.gnb ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #222;
    transition: 0.2s;
}

.gnb ul li:hover a {
    border: 2px solid #222;
}

/* main benner */

.main-bn {
    width: 100%;
    height: 80vh;
    padding: 10px;
    position: relative;
}

.main-bn img {
    width: 100%;
    height: 100%;
}

.mb-text {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-text h2 {
    font-size: 100px;
    color: #333;
    letter-spacing: 15px;
}

.mb-text p {
    font-size: 24px;
    font-weight: 300;
}

.under-bar {
    width: 60px;
    height: 5px;
    background: #333222;
    margin-top: 35px;
}